services:
  app:
    image: php:{{ .Values.php_version }}-fpm-alpine
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ .Values.port }}:9000"
    volumes:
      - "{{ .Runtime.OpenRestyHostSiteDir }}:/var/www/openresty"
