services:
  db:
    image: mariadb:11
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: {{ .Values.db_name }}
      MARIADB_USER: {{ .Values.db_user }}
      MARIADB_PASSWORD: {{ .Values.db_password }}
      MARIADB_ROOT_PASSWORD: {{ .Values.db_root_password }}
    volumes:
      - wordpress-db:/var/lib/mysql

  app:
    image: wordpress:php8.2-apache
    restart: unless-stopped
    depends_on:
      - db
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: {{ .Values.db_user }}
      WORDPRESS_DB_PASSWORD: {{ .Values.db_password }}
      WORDPRESS_DB_NAME: {{ .Values.db_name }}
    ports:
      - "{{ .Values.port }}:80"
    volumes:
      - wordpress-app:/var/www/html

volumes:
  wordpress-db:
  wordpress-app:
